<p>combinelatest works!</p>
<div>
    <h3></h3>
    <label>:categories
        <select (change)="oncategorieschange($event)">
            <option value="">All</option>
            <option value="electronic">electronic</option>
            <option value="clothing">clothing</option>
            <option value="book">book</option>
        </select>
    </label>

    <label >:brand
        <select  (change)="onbrandchange($event)">
            <option value="">All</option>
            <option value="0-50">0-50</option>
            <option value="50-100">50-100</option>
            <option value="100-500">100-500</option>
        </select>
    </label>

    <label>:price
        <select  (change)="onpricechange($event)">
            <option value="">all</option>
            <option value="apple">apple</option>
            <option value="samsung">samsung</option>
            <option value="nike">nike</option>
        </select>
    </label>
</div>
<div *ngIf="loading">Loading products...</div>
<ul>
  <li *ngFor="let products of product">{{ products.price }}</li>
</ul>